.navbar-toggler{
    


}

.collapse_navbar-collapse{
    color: rgb(238, 232, 225);
    
}

.navbar-expand{
    background-color: rgb(137, 145, 145);
}
.navbar_navbar-expand-lg{
    background-color: aqua;

}
.body{
    background-color: rgb(113, 114, 114);
}
.btn{
    color: rgb(113, 114, 114);
}
.nav_item_hover{
    color: black;
}
.nav-item{
    margin-left: 250px;
}